.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.25rem;
}

.login-form h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.login-form .form-group {
  width: 80%;
}

.login-form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.25rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.3125rem;
  font-size: 1rem;
}

.login-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  font-size: 1rem;
  margin: 1.25rem 0;
  border-radius: 0.3125rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .login-form {
    max-width: 31.25rem;
    margin: 3.125rem auto;
  }
}

@media only screen and (min-width: 992px) {
  .login-form {
    max-width: 50rem;
  }
}

@media only screen and (min-width: 1200px) {
  .login-form {
    max-width: 62.5rem;
  }
}

@media screen and (max-width: 480px) {
  ..login-form input {
    font-size: 0.8rem;
  }

  .login-form button {
    font-size: 0.9rem;
  }
}
